.body {
    font-size: 14px;
    background: #F2F4F5;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    border-radius: 0;
    position: fixed;
    width: 100%;
    padding: 0 25px;
    z-index: 100;
}

.jumbotron {
    padding: 0;
    margin: 0;
    color: #777777;
    background: #F2F4F5;
}

.jumbotron h1 {
    color: #FA5950;
    font-size: 27px;
}

.section-padding {
    padding-top: 250px;
}

.grey {
    color: #777777;
}

.showcase-box {
    height: 50%;
    padding: 10px;
}

.showcase-item img {
    color: #777777;
    padding: 40px;
    height: 50%;
    width: 50%;
}

.bottom-menu {
    background: #e2e2e2;
    color: #bcc3ca;
    padding: 15px 0 20px;
    margin: 50px 0 0 0;
}

.bottom-menu .navbar-brand {
    font-size: 20px;
    padding: 0;
}

.bottom-menu .title {
    font-size: 13px;
    font-weight: 700;
    margin-top: 0;
}

.bottom-menu a {
    color: inherit;
}

.active .bottom-menu a,
.bottom-menu a:hover,
.bottom-menu a:focus {
    color: firebrick;
    text-decoration: none;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 20px;
    }

    .header-text {
        color: #FA5950;
    }

    .bottom-menu .navbar-brand,
    .bottom-menu .bottom-links {
        margin-bottom: 10px;
    }

    .bottom-menu .navbar-brand {
        padding: 10px;
        float: none;
    }
}

.task_button_pending {
    background: deepskyblue;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: 15px;
    font-size: 18px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.task_button_pending:hover {
    background: royalblue;
}

.task_button_done {
    background: seagreen;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: 15px;
    font-size: 18px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.task_button_done:hover {
    background: darkgreen;
}

.task_button_overdue {
    background: orangered;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: 15px;
    font-size: 18px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.task_button_overdue:hover {
    background: red;
}

.edit_button {
    float: right;
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition-property: background, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 30px;
    margin-top: 5px;
    margin-right: 55px;
}

.edit_button:hover {
    background: #ffffff;
    border-radius: 50%;
}

.delete_button {
    float: right;
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition-property: background, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 30px;
    margin-top: 5px;
    margin-right: -75px;
}

.delete_button:hover {
    background: #ffffff;
    border-radius: 50%;
}

.complete_button {
    float: right;
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    transition-property: background, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 30px;
    margin-top: 5px;
    margin-right: -35px;
}

.complete_button:hover {
    background: #ffffff;
    border-radius: 50%;
}

.truncate {
    color: #ffffff;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

<!-- Circle Button -->
    .crc_btn_container {
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 4px 1px white;
        width: 400px;
        height: 400px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .crc_btn_wrap {
        position: relative;
        width: 80px;
        height: 80px;
        margin:10px auto 15px auto;
    }

    .crc_btn_clicker {
        background-color: #ffffff;
        outline: none;
        font-weight: 600;
            position: absolute;
        cursor:pointer;
        padding: 0;
            border: none;
            height: 64px;
            width: 64px;
        left: 8px;
        top: 8px;
            border-radius: 100px;
            z-index: 2;
    }

    .crc_btn_clicker:active {
        transform: translate(0, 1px);
        height: 63px;
        box-shadow: 0px 1px 0 0 rgb(190, 190, 190) inset;
    }

    .crc_btn_circle {
        position: relative;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        z-index: 1;
    }

    .crc_btn_circle.third {
        border-radius: 0;
    }

    .crc_btn_clicker.faster:hover + .crc_btn_circle,
    .crc_btn_clicker.faster:active + .crc_btn_circle {
        -webkit-animation: rotator linear .4s infinite;
        -moz-animation: rotator linear .4s infinite;
        -o-animation: rotator linear .4s infinite;
        animation: rotator linear .4s infinite;
    }

    .crc_btn_clicker.fast:hover + .crc_btn_circle,
    .crc_btn_clicker.fast:active + .crc_btn_circle {
        -webkit-animation: rotator linear .4s infinite;
        -moz-animation: rotator linear .4s infinite;
        -o-animation: rotator linear .4s infinite;
        animation: rotator linear .5s
        infinite;
    }

    .crc_btn_clicker:hover + .crc_btn_circle,
    .crc_btn_clicker:active + .crc_btn_circle {
        -webkit-animation: rotator linear .4s infinite;
        -moz-animation: rotator linear .4s infinite;
        -o-animation: rotator linear .4s infinite;
        animation: rotator linear .8s
        infinite;
    }

    @-webkit-keyframes rotator {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    @-moz-keyframes rotator {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    @-o-keyframes rotator {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    @keyframes rotator {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    .crc_btn_angled {
        background-image: linear-gradient(45deg,
                                                white 0%,
                                                white 30%,
                                                rgb(20, 190, 235) 30%,
                                                rgb(20, 190, 235) 70%,
                                                white 70%,
                                                white 100%
        );
    }

    .crc_btn_angled.second {
        background-image: linear-gradient(45deg,
                                                white 0%,
                                                white 30%,
                                                rgb(250, 160, 120) 30%,
                                                rgb(250, 160, 120) 70%,
                                                white 70%,
                                                white 100%
        );
    }

    .crc_btn_angled.third {
        background-image: linear-gradient(45deg,
                                                white 0%,
                                                white 30%,
                                                rgb(130, 230, 135) 30%,
                                                rgb(130, 230, 135) 70%,
                                                white 70%,
                                                white 100%
        );
    }
<!-- Circle Button End -->

/* Centered Column Styles */
.centered {
    margin-left: auto;
    margin-right: auto;
}
/* --- end --- */

.date-form {
    text-align: center;
    margin-left: 35%;
    margin-right: 50%;
}

